.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  margin-top: 5px;
  max-height: 60vh;
  min-height: 60vh;
  width: 100%;
  overflow: scroll;
}
